################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/FinalProjectBDPOO/obj/Debug/net5.0-windows/FinalProjectBDPOO.csprojAssemblyReference.cache
